{% extends 'seller-base.html' %}
{% block content %}
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Sale Sale Sale</h1>
									<p>sell sell sell</p>
									
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="/static/img/banner/1.jpeg" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						 <div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h2 style="font-family: 'Poppins', sans-serif;">Welcome to EasyBazaar! </h2>
									
									
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="/static/img/banner/turban-man.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	

	<!-- start product Area -->
	<section class="section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Your Products</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<!-- <div class="col-lg-3 col-md-6" style="cursor: pointer;">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p1.jpg" alt="">
							<div class="product-details">
								<h6>Footware</h6>
							
							</div>
						</div>
					</div> -->
					<!-- single product -->
					{% for p in products %}
					 <div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{p.image.url}}" alt="">
							<div class="product-details">
								<h6>{{p.name}}</h6>
								<div class="price">
									<h6>{{p.price}}</h6>
								</div>
								<p>{{p.desciption}}</p>
								<h5>Category : {{p.category.name}}<h5>
								<div class="prd-bottom">

									<a href="{% url 'update_product' p.id %}" class="genric-btn primary circle">Update</a>
									<a href="{% url 'delete_product' p.id %}" class="genric-btn primary circle">Remove</a>

								</div>
							</div>
						</div>
					</div> 
				{% endfor %}
				
					
					
				</div>
			</div>
		</div>
		
	</section>
	<!-- end product Area -->



{% endblock %}
